.grid-div {
  background-color: tomato;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  padding: 1rem;
}

/*.grid-box {
  background-color: white;
  margin: 1rem;
  width: 30%;
  height: 100px;
}
*/
